ion-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  --ion-background-color: #3f4f8a;

  ion-grid {
    --ion-grid-padding: 100px;
  }

  ion-col {
    border: solid 1px #fff;
    color: #fff;
  }

  .custom-card {
    min-width: 300px;
    width: 40%;
    ion-card-header {
      display: flex;
      justify-items: center;
      align-items: center;
      ion-img {
        width: 50px;
        height: 50px;
      }
    }
  }
}
